.welcome-container {
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#locations {
    display: block;
    z-index: 2;
}
html {
    overflow: hidden;
    height: 100%
}
body {
    height: 100%;
    /*background-image: url("city.jpg");*/
    z-index: 0;
}
#map-canvas {
  /*margin: auto;*/
    height: 70%;
    width: 80%;
    margin-top: 100px;
    position: relative
}
#locations {
    width: 20%;
    right: 0;
    position: fixed;
    /*height: 100%;*/
    z-index: 100;
}
#directionsPanel {
    float: right;
    width: 20%;
    position: absolute;
    height: 100%;
    z-index: 10;
    background-color: white;
}
.adp-listsel {
    background: none;
}
.adp-fullwidth tbody tr:nth-child(2) {
    background-color: green;
}
.adp-fullwidth tbody tr:nth-child(3) {
    background-color: yellow;
}
.adp-fullwidth tbody tr:nth-child(4) {
    background-color: red;
}