.welcome-container {
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#locations {
    display: block;
    z-index: 2;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    z-index: 0;
}
#map-canvas {
    /*margin: auto;*/
    float: right;
    border: 2px solid black;
    height: 70%;
    width: 60%;
    margin-top: 100px;
    margin-right: 250px;
    position: relative;
}
#locations {
    width: 20%;
    right: 0;
    position: fixed;
    /*height: 100%;*/
    z-index: 100;
}
#directionsPanel {
  margin-top: 100px;
    color: white;
    padding-left: 2px;
    width: 22%;
    position: absolute;
    height: 70%;
    z-index: 10;
    background-color: cornflowerblue;
}
.adp-listsel {
    background: none;
}
.adp-fullwidth tbody tr:nth-child(2) {
    background-color: green;
    color: white;
}
.adp-fullwidth tbody tr:nth-child(3) {
    background-color: orange;
    color: white;
}
.adp-fullwidth tbody tr:nth-child(4) {
    background-color: red;
    color: white;
}