<!DOCTYPE html>
<html>
<head>
  <title>SafeRoute</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head> -->
<body>

<%= yield %>

</body>
</html>
