<div>
  <form id="locations">
    <input type="text" name="start" placeholder="start" />
    <input type="text" name="end" placeholder="end" />
    <input type="submit" />
  </form>
</div>

<div id="directionsPanel">
</div>


<div id="map-canvas" />

