<div>
  <form id="locations">
    <input type="text" value = "1600 15th st sf" name="start" placeholder="start" />
    <input type="text" value = "1489 webster st sf" name="end" placeholder="end" />
    <input type="submit" />
  </form>
</div>
<div>
  <form id="contact_info">
    <input type="text" value = "5104575279" name="phone"/>
    <input type="email" value = "austinbourdier@gmail.com" name="email"/>
    <input type="submit" />
  </form>
</div>

<div id="directionsPanel">
</div>


<div id="map-canvas" />

