html {height: 100%;}
body {height: 100%; margin: 0;}

#map-canvas {
  height: 100%;
  width: 100%;
  position: relative
}
/*#contact{

}*/

#contact_info{
  width: 10%;
  right: 0%;
  position: fixed;
  z-index:1;
}
#locations{
  width: 10%;
  right: 10%;
  position: fixed;
  z-index:1;
}


#directionsPanel {
  float:right;
  width: 20%;
  position: absolute;
  height: 100%;
  z-index:1;
}

.adp-listsel{
	background: none;
}

.adp-fullwidth tbody tr:nth-child(2){
	background-color: green;
}
.adp-fullwidth tbody tr:nth-child(3){
	background-color: yellow;
}
.adp-fullwidth tbody tr:nth-child(4){
	background-color: red;
}
